/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/

@import "variables/variables";

@import "base/base";
@import "content-blocks/content-blocks";


body {
  line-height: 1.7;
}

p {
  padding: 0px;
  margin: 0px;
}

ul {
	list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
