.services {
  background-color: $color-primary;
  color: white;

  &__container {
  }

  &__text {
    display: flex;
    align-items: center;
    margin: auto;
  }

  &__textcontainer {
    margin: auto;
    padding: 7rem 0;
    h5 {
      text-transform: uppercase;
      font-size: 0.875rem;
      font-weight: bold;
      margin: 0;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1.25rem 0 2rem 0;
      line-height: 2.25rem;
      margin: 0;
    }

    a {
      color: white;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: underline solid 3px;
      text-underline-offset: 0.35em;
      text-decoration-thickness: 0.2em;
    }

    a:hover {
      color: rgb(254, 165, 12);
    }
  }

  &__list {
    padding-bottom: 2rem;
  }

  &__item {
    display: flex;
    img {
      padding-right: 2rem;
    }
    line-height: 1.1rem;
    max-width: 60%;
    padding: 0.5rem 0;
    font-weight: bold;
    font-size: 0.875rem;
  }

  &__link {
  }
}

.services {
  &__photo {
    padding: 0px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

#broken-image {
  padding-right: 2.4rem;
}
