.home {
  background: $color-secondary;
  &__container {
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &__textcontainer {
    padding: 2rem;
    margin: 0 auto;
    @media screen and (min-width: 1400px) {
      width: 80%;
    }

    h1 {
      line-height: 4.75rem;
      font-size: 5rem;
      font-weight: bold;
      margin: 0;
    }

    p {
      padding: 2rem 0;
      font-size: 1.125rem;
      line-height: 1.4rem;
    }

    a {
      font-size: 0.875rem;
      text-transform: uppercase;
      color: $color-primary;
      font-weight: bold;
      text-decoration: underline solid 3px;
      text-underline-offset: 0.35em;
      text-decoration-thickness: 0.2em;
    }
    a:hover {
      color: rgb(134, 4, 255);
    }
  }

  &__link {
  }

  &__photo {
    padding: 0px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
