.boxes {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: $color-primary;
  color: white;

  &__small {
    
    margin-bottom: 3rem;
    border-bottom: 0.15rem solid rgba(255, 255, 255, 0.187);
    padding: 5rem 3rem;
    .concept {
      margin-left: -0.5rem;
    }
    .management {
      margin-left: -0.25rem;
    }
    h4 {
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  &__container {
    padding: 8rem 5rem;
    @media (max-width: 992px) {
      padding: 1rem 1rem;
    }
  }

  &__all {
    .boxes__small:hover {
      box-shadow: 0.5em 0.5em 2em 0.5em rgba(0, 0, 0, 0.300);
      border-bottom: 0.15rem solid white;
    }
  }
}

.material-icons-outlined {
  font-size: 4rem;
}
