.experience {
  background: $color-secondary;
  &__container {
    
  }

  &__text {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    
  }

  &__textcontainer {
    margin: 0;
    @media (min-width: 1400px) {
      width: 80%;
    }

    h5 {
      text-transform: uppercase;
      font-size: 0.875rem;
      font-weight: bold;
      padding-bottom: 1rem;
    }

    h3 {
      max-width: 60%;
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
    }

    p {
      max-width: 85%;
      padding: 2rem 0;
      line-height: 1.4rem;
    }

    a {
      font-size: .875rem;
      text-transform: uppercase;
      padding-top: 1rem;
      color: $color-primary;
      font-weight: bold;
      text-decoration: underline solid 3px;
      text-underline-offset: 0.35em;
      
    }
    a:hover {
      color: rgb(134, 4, 255);
    }
  }

  &__link {
  }

  &__photo {
    display: flex;
    align-items: center;
    padding: 0;

    img {
      padding: 15% 0 15% 15%;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: right;
    }
  }
}
