.footer {
  &__container {
    padding: 2rem 13.5% 0 13.5%;
    background-color: black;
    color: white;

    p {
      font-size: 0.75rem;
      color: rgba(255, 255, 255, 0.6);
      margin-top: 1rem;
      padding: 1rem 0;
      border-top: solid 1px rgba(255, 255, 255, 0.3);
    }
  }

  &__nav {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__logo {
    padding: 0;

    img {
      width: 300px;
      margin-left: -6rem;
    }
  }

  &__form {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 3rem 0;
    font-size: 0.875rem;
    margin-bottom: 2rem;
    ::placeholder {
      color: white;
    }
  }
}

.nav-menu {
  color: white;

  &__body {
    padding-right: 2rem;
  }

  &__list {
    font-size: 0.875rem;
    display: flex;
    column-gap: 2.875rem;
    white-space: nowrap;
    justify-content: left;
    @media (max-width: 640px) {
      display: block;
    }
  }

  &__item {
    :visited {
      color: white;
    }
    :hover {
      color: white;
      text-decoration: underline solid 0.15rem;
    }
  }

  &__link {
  }
}

.form {
  @media (min-width: 640px) and (max-width: 1040px) {
    justify-content: left;
  }

  &__body {
  }

  &__label {
    padding: 0;
    padding-bottom: 0.3125rem;
  }

  &__email {
    color: white;
    width: 16.5625rem;
    background: rgb(53, 53, 53);
    border: none;
    padding: 0.4rem 1.2rem;
    outline: none;
  }

  &__submit {
    margin-top: 0.4rem;
    background: $color-primary;
    color: white;
    border: none;
    padding: 0.4rem 1.2rem;
  }
}

#form-submit-btn:hover {
  color: rgb(254, 165, 12);
}

#form-email-text:hover {
  background: rgb(255, 255, 255);
  color: black;
}

#form-email-text:hover::placeholder {
  color: black;
}

#form-email-text:focus::placeholder {
  color: transparent;
}

#form-email-text:focus {
  background: rgb(255, 255, 255);
  color: black;
}
