//Color Variables

$color-primary: #384092;
$color-secondary: #EDEAE3;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 10%);
$color-dark: #242222;
$color-white: #ffffff;
$color-error: #f44336;
$color-success: #0f834d;
$color-warning: #fff4dd;
$color-border: rgba($color-primary-dark, .25);
$color-accent: lighten($color-primary, 48%);







