//Structure Variables

$site-header-height: 3.125rem;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$container-p-sm: 1rem;
$container-p-md: 2rem;
$container-p-lg: 3rem;

$spacer-sm: 2rem;
$spacer-md: 4rem;
$spacer-lg: 6rem;
$spacer-element: 1.25rem;

$border-radius-small: .25rem;
$border-radius-input: 25px;
$shadow: 0 0 10px rgba($color-primary-dark, .1);

$input-x-padding: 2em;
$input-y-padding: 1.3em;

$transition: .2s;